.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #9c0b0b;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  flex: 1;
}

app-news-searcher {
  flex: 1;
}

.navigate-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
}

.navigate-button img {
  width: 80%;
  height: auto;
}

.navigate-button:hover {
  box-shadow: 0 4px 8px rgba(145, 72, 72, 0.6);
}
