.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-color);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #9c0b0b;
  margin: 0;
  text-align: center;
  letter-spacing: 1px;
  flex: 1;
}

app-news-searcher {
  flex: 1;
}

.navigate-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  box-shadow: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
}

.navigate-button img {
  width: 80%;
  height: auto;
}

.navigate-button:hover {
  box-shadow: 0 4px 8px rgba(145, 72, 72, 0.6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  background-color: #9c0b0b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none;
}


.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  background: var(--card-color);
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
  visibility: hidden;
}

.mobile-container.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.mobile-container.hidden {
  visibility: hidden;
  opacity: 0;
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
}

.menu-mobile .item {
  display: flex;
  align-items: center;
  height: 60px;
  background: var(--card-color);
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: row;
  padding: 0 10px;
  gap: 10px;
}

.menu-mobile .item div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-mobile .item:hover {
  background-color: var(--menu-mobile-hover-item-color);
}

.menu-mobile .item:hover:before {
  width: 6px;
}

.close-menu:hover {
  color: #7a0000;
}

.menu-mobile-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #9c0b0b;
  margin-bottom: 20px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px;
  border-radius: 4px;
}

.close-menu {
  width: 55px;
  height: 50px;
}
