<div class="news-container">
  <h1>{{'search-news-title-label' | translate}}</h1>
  <button class="back-button" (click)="goBack()">{{'back-label' | translate}}</button>

  <div class="card-container">
    <app-card
      *ngFor="let newsArticle of displayedNews"
      [title]="newsArticle.title"
      [image]="newsArticle.urlToImage"
      [url]="newsArticle.url"
      [article]="newsArticle">
    </app-card>
  </div>

  <app-paginator [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChanged($event)"></app-paginator>
</div>

