<div class="news-container">
  <h1>{{'search-news-title-label' | translate}}</h1>
  <button class="back-button" (click)="goBack()">{{'back-label' | translate}}</button>

  <div class="card-container">
    <app-card
      *ngFor="let newsArticle of paginatedArticles"
      [title]="newsArticle.title"
      [image]="newsArticle.urlToImage"
      [url]="newsArticle.url"
      [article]="newsArticle">
    </app-card>
  </div>

  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">{{'previous-page-label' | translate}}</button>
    <span>{{'page-label' | translate}} {{currentPage}} {{'of-label' | translate}} {{totalPages}}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">{{'next-page-label' | translate}}</button>
  </div>
</div>

