<div class="news-container">
    <h1>{{'home-title-label' | translate}}</h1>

    <div class="spinner-container" [ngClass]="{'visible': isLoading, 'hidden': !isLoading}">
      <app-spinner></app-spinner>
    </div>

      <div class="card-container"  [ngClass]="{'visible': !isLoading, 'hidden': isLoading}">
        <app-card
            *ngFor="let newsArticle of displayedNews"
            [title]="newsArticle.title"
            [image]="newsArticle.urlToImage"
            [url]="newsArticle.url"
            [article]="newsArticle">
          </app-card>
    </div>

    <app-paginator
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChanged)="onPageChanged($event)">
  </app-paginator>

  <app-modal-popup
    title="{{'error-title-label' | translate}}"
    message="{{'error-message-label' | translate}}"
    [isVisible]="showErrorModal"
    (closeModal)="handleCloseModal()">
  </app-modal-popup>

</div>
