h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #9c0b0b;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background-color: var(--card-color);
  border-radius: 4px;
}

.news-container {
  position: relative;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 400px
}

.card-container {
  margin: 2rem auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  transition: opacity 0.5s ease-in-out;
}


@media (min-width: 700px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-container,
.spinner-container {
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.visible {
  opacity: 1;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--spinner-background-color);
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}

