.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

#theme-switcher {
  position: absolute;
  opacity: 0;
}

label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  background-color: var(--theme-switcher-background-color);
  border-radius: 50px;
  width: 60px;
  height: 30px;
  transition: background-color 0.3s ease;
}

label::before {
  content: '';
  position: absolute;
  left: 6px;
  top: 4px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--theme-switcher-button-color);
  transition: transform 0.3s ease;
}

#theme-switcher:checked + label {
  background-color: #000;
}

#theme-switcher:checked + label::before {
  transform: translateX(30px);
}

.sun-icon, .moon-icon {
  font-size: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #9c0b0b;
}

.sun-icon {
  left: 10px;
}

.moon-icon {
  right: 10px;
}

#theme-switcher:checked + label .moon-icon {
  display: inline;
}

#theme-switcher:not(:checked) + label .sun-icon {
  display: inline;
}
